/* ----- GLOBAL STYLES ----- */
* {
  font-family: "Ranchers", serif;
  font-weight: 300;
  background-color: rgb(12, 13, 84);
  color: rgb(217, 241, 4);
}

/* ----- HEADER ----- */
/* header overall */
header {
  display: flex;
  align-items: center;
}

/* the logotype */
#logo {
  font-size: 1.3rem;
  border: 2px solid rgb(210, 199, 255);
  display: inline;
  padding: 5px;
}

/* the whole navigation menu list */
ul {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

/* the individual menu items */
li {
  margin-left: 3rem;
}

/* the links inside the navigation menu */
a {
  color: rgb(210, 199, 255);
}

/* -- responsive header layout -- */
@media screen and (max-width: 520px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }

  ul {
    margin-top: 0;
  }

  li {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}

/* ----- MAIN ----- */
.all-img {
  width: 18%;
  margin-right: -30px;
}

.main-img1 {
  opacity: 100%;
  animation: appear 3s;
}

.main-img2 {
  opacity: 80%;
  animation: appear 6s;
}

.main-img3 {
  opacity: 60%;
  animation: appear 9s;
}

.main-img4 {
  opacity: 40%;
  animation: appear 12s;
}

.main-img5 {
  opacity: 20%;
  animation: appear 15s;
}

.main-img6 {
  opacity: 10%;
  animation: appear 18s;
}

/* appearing images is done with the help of a youtube video*/
/* https://youtu.be/0TnO1GzKWPc?si=Dtxe57ba64f3R1ow */
@keyframes appear {
  from {
    opacity: 0;
  }

  40% {
    transform: rotate(2deg) scale(1.05);
  }

  70% {
    transform: rotate(-2deg) scale(1.05);
  }
}

/* lab assistent is looking at how I can
   fix the responsive layout for the images */
/* -- responsive main layout -- */
/*
@media screen and (min-width: 520px) {
  .hej {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 750px) {
  .hej {
    grid-template-columns: repeat(6, 1fr);
  }
}


/* ----- PORTFOLIO SECTION ----- */
figure {
  margin-left: 0;
}

.portfolio-container {
  position: relative;
}

.category-image {
  width: 100%;
}

/* check at lab to solve the issue with
   responsive layout for the hover effect */
/* hover image is done with the help of a youtube video*/
/* https://youtu.be/NHb3o3sP9iA?si=R-bZ4H5F8AdWPRD9 */
.top-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 94%;
  opacity: 0;
  transition: all 0.5s ease;
}

.top-img:hover {
  opacity: 1;
}

/* -- responsive portfolio layout -- */
@media screen and (min-width: 520px) {
  .pictures-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 750px) {
  .pictures-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ----- PORTFOLIO-1 SECTION ----- */
.portfolio-1-img {
  width: 20%;
}

/* ----- PORTFOLIO-2 SECTION ----- */
.portfolio-2-img {
  width: 20%;
}

/* ----- PORTFOLIO-3 SECTION ----- */
.portfolio-3-img {
  width: 20%;
}

/* ----- PORTFOLIO-4 SECTION ----- */
.portfolio-4-img {
  width: 20%;
}

/* ----- PORTFOLIO-5 SECTION ----- */
.portfolio-5-pictures-container {
  width: 50%;
}

/* -- responsive portfolio-5 layout -- */
@media screen and (min-width: 520px) {
  .portfolio-5-pictures-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ----- PORTFOLIO-6 SECTION ----- */
.portfolio-6-pictures-container {
  width: 50%;
}

/* -- responsive portfolio-6 layout -- */
@media screen and (min-width: 520px) {
  .portfolio-6-pictures-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ----- ABOUT ME ----- */
form {
  margin-bottom: 25px;
}

/* ----- FOOTER ----- */
footer {
  margin-top: 3rem;
  border-top: 1px solid rgb(210, 199, 255);
}
