* {
  /* FRÅGA OCKSÅ OM "ALT"" BEHÖVS I PORTFOLIO (VID BILDERNA)*/
  /* HJÄLP ATT FIXA FONTEN!!!!!!!! */
  font-family: "Bowlby One SC", serif;
  background-color: rgb(12, 13, 84);
  color: rgb(217, 241, 4);
}

/* HEADER */
header {
  display: flex;
  align-items: center;
}

#logo {
  font-weight: 600;
  font-size: 1.3rem;
  border: 2px solid rgb(210, 199, 255);
  display: inline;
  padding: 5px;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

li {
  margin-left: 3rem;
}

a {
  color: rgb(210, 199, 255);
}

/* responsive layout */
@media screen and (max-width: 520px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }

  ul {
    margin-top: 0;
  }

  li {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}

/* MAIN */
.main-img {
  width: 20%;
}

/* PICTURES SECTION */
figure {
  margin-left: 0;
}

.category-image {
  width: 100%;
}

/* responsive layout */
@media screen and (min-width: 520px) {
  .pictures-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 750px) {
  .pictures-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ABOUT ME */
form {
  margin-bottom: 25px;
}

/* FOOTER */
footer {
  margin-top: 3rem;
  border-top: 1px solid rgb(160, 94, 68);
}
