div {
  background-color: blueviolet;
  width: 200px;
  height: 200px;
  margin-left: 200px;
  margin-top: 200px;
  border-radius: 20%;
  animation-name: shake;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes shake {
  25% {
    transform: scale(1.2);
  }

  40% {
    transform: rotate(-20deg) scale(1.2);
  }

  50% {
    transform: rotate(20deg) scale(1.2);
  }

  60% {
    transform: rotate(-20deg) scale(1.2);
  }

  70% {
    transform: rotate(20deg) scale(1.2);
  }

  80% {
    transform: rotate(-20deg) scale(1.2);
  }

  90% {
    transform: rotate(20deg) scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
